#app3{
}
#app3 .square{
  background-color: #d52b2a;
  margin-top: 10vw;
  margin-left: 10vw;
  width: 10vw;
  height: 10vw;
  transition: all 1s;
}
#app3 .square.active{
  transform: translateX(20vw);
  border-radius: 50%;
  background-color: #ffd866;
}